body {
  font-family: monospace;
  background-color: #8d99ae;
  margin-top: 0;
}

h1.index-header {
  font-size: 56px;
  text-align: center;
  color: #2b2d42;
}
h2.index-header {
  text-align: center;
  color: #2b2d42;
  font-size: 22px;
}
.img {
  text-align: center;
}
a {
  text-decoration: none;
  color: #e8ac65;
  display: inline-block;
  margin-left: 1em;
  margin-right: 1em;
}

a:hover {
  color: #ff9e00;
}

.link {
  text-align: center;
  font-size: 22px;
}
footer {
  background-color: #8d99ae;
  width: auto;
  height: 5rem;
  margin-top: 1.5em;
  border-top-width: 1px;
  border-top-color: white;
  border-top-style: solid;
  padding: 10px 5px 5px 10px;
}

/* Bellow start the sub-pages styles */

header {
  width: auto;
  height: 4rem;
  border-bottom-width: 1px;
  border-bottom-color: white;
  border-bottom-style: solid;
  padding: 0 1rem 2rem 1rem;
  background-color: #8d99ae;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-bottom: 1.5rem;
}

h1.subpage-header {
  font-size: 42px;
  color: #2b2d42;
  display: inline-block;
}

#home {
  display: inline-block;
  height: 3em;
  width: auto;
}
p {
  width: 50%;
}
ol {
  width: 50%;
}

ol li {
  margin: 1em 0;
}

.ingredients {
  width: 50%;
  border-left-color: #2b2d42;
  border-width: 3px;
  border-left-style: solid;
  background-color: rgba(255, 255, 255, 0.2);
}
