body {
  font-family: monospace;
  background-color: #8d99ae;
}
h1.index-header {
  font-size: 56px;
  text-align: center;
  color: #2b2d42;
}
h2.index-header {
  text-align: center;
  color: #2b2d42;
  font-size: 22px;
}
.img {
  text-align: center;
}
a {
  text-decoration: none;
  color: #e8ac65;
}

a:hover {
  color: #ff9e00;
}

.link {
  text-align: center;
  font-size: 22px;
}
footer {
  margin-top: 1.5em;
}

/* Bellow start the sub-pages styles */
p {
  width: 50%;
}
ol {
  width: 50%;
}

ol li {
  margin: 1em 0;
}

h1.subpage-header {
  font-size: 42px;
  color: #2b2d42;
}

.ingredients {
  width: 50%;
  border-left-color: #2b2d42;
  border-width: 3px;
  border-left-style: solid;
}
